@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
@font-face {
    font-family: 'CoffeCake';
    src: 
        url(CoffeCake.otf) format('opentype');
}
*{
    margin: 0px;
    padding: 0px;
}
.header{
    display: block;
    position: fixed;
    border: 2px solid #486531;
    background-color: #93dc8c;
    top: 0;
    height: 10vh;
    width: 100%;
}
.navbar{
    float: right;
   display: block;
}
.navbar a:hover{
    background-color: rgb(218, 240, 180);
    padding: 1vw;
}
#links{
    display: inline-block;
    padding: 1vw;
    margin: 0.4vh;
    margin-top: 0.4vw;
    margin-right: 1vw;
}
#links a{
    text-decoration: none;
    font-size: larger;
    color: rgb(27, 99, 46);
    font-family: 'Playpen Sans', cursive;
}

.main{
    margin-top: 62px;
    display: inline-block;
    background-color: rgb(175, 236, 167);
    width: 100%;
    height: 100%;
    font-family: 'Playpen Sans', cursive;   
}

#title{
    margin: 20vh;
    padding: 3vw;
    border: 2px solid rgba(21, 117, 16, 0.889);
    background-image: url(/pics/bg.jpg);
    background-size: cover;
    font-size: 4vw;
}
#title h1{
    color: #245217;
    font-family: 'CoffeCake', Fallback, sans-serif; 
}

#title p{
    color: #486531;
    font-family: 'CoffeCake', Fallback, sans-serif; 
}
.content{
    display: flex;
    flex-direction: row;
}
.members{
    margin: 1vw;
    padding: 3vw;
    align-items: center;
    border: 2px solid rgb(95, 173, 91);
    width: 16vw;
}
.members b{
    color:rgb(43, 185, 14);
}
.members img{
    display: inline;  
    margin-left: auto;
    margin-right: right;
    height: 100px;
    width: 100px;
    border: 2px solid #387939;
    border-radius: 360px;
    margin-top: 4vw;
}
.y h3{
    display:block;
    text-decoration: none;
    color:#1e501a;
    margin-bottom: 5vw;
    font-size: larger;
}
.e h3{
    display:block;
    text-decoration: none;
    color:#1e501a;
    margin-bottom: 5vw;
    font-size: larger;
}
.s h3{
    display:block;
    text-decoration: none;
    color:#1e501a;
    margin-bottom: 3vw;
    font-size: larger;
}
.descriptions{
    display: inline-block;
    align-items: center;
    border: 2px solid rgb(95, 173, 91);
    margin-bottom: 10vw;
    margin:1vw;
    padding: 3vw;
    font-size: large;
}
.descriptions h1{
    text-align: center;
    margin-bottom: 2vw;
    font-family: 'CoffeCake', Fallback, sans-serif;
    font-size: 3vw;
}
.descriptions p{
    margin-top: 3vw;
    margin-bottom: 8vw;
}
.table{
    margin: 5px;
    padding-bottom: 5vw;
}
.table th{
    border: 2px solid #1e501a;
    font-size: large;
}
.table td{
    border: 2px solid darkgreen;
    font-size: small;
}
.references{
    text-align: center;
    margin: 3vw;
    border: 2px solid rgba(21, 117, 16, 0.889);
    background-image: url(/pics/bg1.jpg);
    background-size: cover;
}
.references h1{
    margin-top: 5vw;
    margin-bottom: 2vw;
    font-family: 'CoffeCake', Fallback, sans-serif; 
    font-size: 3vw;
    color: #10270e;
}
.references p{
    margin-bottom: 10vw;
    color: #1e501a;
}
.footer{
    display: block;
    position: fixed;
    border: 2px solid #486531;
    background-color: #93dc8c;
    height: 10vh;
    width: 100vw;
    margin-top: 120vh;
    bottom: 0px;
}
.footer p{
    display: inline-block;
    font-size: 1.2em;
    padding-top: 3vh;
    padding-left: 3vh;
    color: rgb(27, 99, 46);
    font-family: 'Playpen Sans', cursive; 

}
.footer img{
    display: inline;
    float: right;
    height: 40px;
    width: 40px;
    margin-top: 1vh;
    margin-right: 4vw;
}
